.base--pager-block {
  border-bottom: 1px solid;
  margin-bottom: 24px;
  text-align: center;
}
.base--pager-block ul,
.base--pager-block p {
  padding-bottom: 18px;
}
.base--pager-block ul + ul,
.base--pager-block ul + p {
  padding-top: 0;
}
ul.menu {
  margin: 0;
}
main .region-content nav.pager ul + ul,
main .region-content nav.pager ul + p {
  padding-top: 0;
}
nav.menu--main ul li + li:before {
  content: '/';
  display: inline;
  padding-right: 6px;
}
.block-ak-theme-exhibition-years nav {
  text-align: center;
  margin-top: -10px;
}
.block-ak-theme-exhibition-years nav > small {
  padding-bottom: 6px;
  display: inline-block;
}
.block-ak-theme-exhibition-years nav button {
  border: none;
  background-color: transparent;
  padding-bottom: 6px;
}
.block-ak-theme-exhibition-years nav button.button-state--clicked:before {
  color: #808080;
  display: inline;
  content: 'x';
}
.block-ak-theme-exhibition-years nav ul {
  padding: 0 10px 10px;
  justify-content: center;
  transition: max-height 100ms ease-in;
  display: flex;
  flex-wrap: wrap;
  max-height: auto;
  opacity: 1;
}
.block-ak-theme-exhibition-years nav ul.closed {
  max-height: 0;
  opacity: 0;
}
.block-ak-theme-exhibition-years nav ul li {
  padding: 4px 10px;
}
