@require 'vars'
@require 'mq'

ul.cards

  margin 0 auto !important
  width 100%
  padding-left 4px
  display grid
  grid-template-columns: repeat(2, 1fr);
  list-style none

  @media $mq_up_xl
    display grid
    grid-template-columns: repeat(4, 1fr);
    gap 20px

  li
    //display inline-block
    border 1px solid black
    //width calc(50% - 10px)
    box-sizing border-box
    margin 0 15px 10px 0

    h4
        padding 0 0 3px 7px

    //@media $mq_up_lxl
    //  width 300px

    img
      max-width 100%
      height auto
      width 100%

.view-artworks-by-artist
  padding-top 20px
  .view-content
    ul.cards
      li
        border 0

      @media $mq_up_lxl
        display grid
        width 100%
        grid-template-columns: repeat(3, 1fr);