@require 'vars'

ul.cards
  display: flex
  flex-wrap wrap
  gap 20px

  li
    border $border_cards
    overflow hidden
    margin-bottom 20px
    max-width 300px
    width 300px
    height 400px

    > article
      display grid
      grid 100% / auto;
      align-items end

      .node__content
        max-width 400px
        width 400px
        height 400px

        > a
          background-color $color_grey
          height 400px
          display block

      .node__links
        @extend .visually-hidden;

  &.artworks
    li
      max-width 400px
      width 400px
      height 400px

      > article
        > .node__content a
          .field--name-field-images .field__item
            display flex

            img
              margin auto

  &.artists
    li
      max-width 300px
      width 300px
      height 400px

      > article
        > *
          grid-area 1 / 1 / 2 / 2

        h4
          z-index: 1;
          background-color white
          padding 5px 10px 8px

        .node__content > a
          background-color $color_grey
          height 400px
          display block