form.the-form-filters .form--inline {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
form.the-form-filters .form--inline #edit-date-wrapper--4 > .fieldset-wrapper {
  display: flex;
  align-items: center;
}
form.the-form-filters .form--inline #edit-date-wrapper--4 > .fieldset-wrapper .label {
  padding-right: 7px;
}
form.the-form-filters .form--inline #edit-date-wrapper--4 > .fieldset-wrapper .label::first-letter {
  text-transform: uppercase;
}
