form.the-form-filters
  .form--inline
    display flex
    align-items:center;
    padding-bottom: 20px;

    #edit-date-wrapper--4
      > .fieldset-wrapper
        display flex
        align-items center

        .label
          padding-right 7px

          &::first-letter
            text-transform uppercase
