@require 'vars'

footer
  margin-top 50px
  background-color black
  color white


  .region-footer
    max-width $max_width
    margin 0 auto

  ul.menu
    margin 0
    padding 0
    list-style none
    display flex
    gap 20px

  #block-zeigen-zeigennewsletter

    .rmEmbed.rmLayout--horizontal.rmBase
      margin 0 auto
      padding 10px 0 50px
