@require 'vars'

footer
  margin-top 50px
  background-color $color_grey
  color white
  padding 20px 20px 10px 20px


  .region-footer
    max-width $max_width
    margin 0 auto

  ul.menu
    margin 0
    padding 0
    list-style none
    display flex
    gap 20px

  #block-zeigen-zeigennewsletter

    .rmEmbed.rmLayout--horizontal.rmBase
      margin 0 auto
      padding 10px 0 50px

    #rmOrganism .rmBase, #rmOrganism .rmSubscription
      background-color $color_grey

    #rmOrganism .rmLayout--horizontal.rmBase
      max-width: unset;
    #rmOrganism .rmLayout--horizontal.rmBase .rmBase__container
      padding unset