@require 'vars'
@require 'mq'
@require "components/button"

.node--type-project
  &.node--view-mode-full
    .node__content
      text-align left

      .field--name-field-headline
        text-align center
        padding-bottom 10px

      .field--name-field-subheadline
        padding-bottom 10px
        text-align center

      .field--name-body
        margin 20px

      .project-buttons

        ul
          display flex
          //justify-content space-between
          //justify-content space-evenly
          justify-content center
          gap 20px
          list-style none
          margin unset
          padding unset
          padding-bottom 10px

          li
            a
              @extend .btn
              width 200px
              display block

      //.project-artists
      //  padding 30px 0
      //  ul
      //    @extend .border-grid
      //    @extend .no-list-style

      .project-partners
        margin 0 auto

      .project-programm--headline
        @extend .btn
        margin-bottom 20px

@media $mq_up_lxl
  .node--type-project.node--view-mode-full
    .node__content
      .field--name-body
        width 70%
        margin 0 auto
        text-align left


//.node--type-project.node--view-mode-full
//  .field--name-body
//    width 70%
.artists-list
  margin-bottom: 50px;
