@require 'vars'
@require 'components/image'

.slider.artwork-slider

  .glide__track
    @extend .full-image-display-wrapper

    ul.glide__slides
      li.glide__slide
        @extend .full-image-display-wrapper--inner

  .glide__arrows
    button.glide__arrow
      border none
      box-shadow none
      padding 0

      > span:nth-child(1)
        color $color_black
        display block
        font-size 4em
        font-weight 100

      > span:nth-child(2)
        @extend .visually-hidden

      &--left
        left 0

        > span:nth-child(1)
          transform rotate(270deg)

      &--right
        right 0

        > span:nth-child(1)
          transform rotate(90deg)

