@require 'vars'
@require 'components/image'

.glide--slider
  overflow hidden

  .glide__track
    padding 0

    .glide__slide
      max-width 100%

      img

        max-width 100%
        object-fit: contain
        max-height 500px

