.base--pager-block {
  border-bottom: 1px solid;
  margin-bottom: 24px;
  text-align: center;
}
.base--pager-block ul,
.base--pager-block p {
  padding-bottom: 18px;
}
.base--pager-block ul + ul,
.base--pager-block ul + p {
  padding-top: 0;
}
.layout-container * {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1em;
}
.layout-container img {
  max-width: 100%;
  width: 100%;
}
.layout-container h1,
.layout-container h2,
.layout-container h3,
.layout-container h4,
.layout-container h5,
.layout-container h6 {
  margin: 0;
  padding: 0;
}
.layout-container h1,
.layout-container h2,
.layout-container h3,
.layout-container h4,
.layout-container h5,
.layout-container h6,
.layout-container nav li a {
  letter-spacing: 1px;
}
.layout-container h2,
.layout-container h3,
.layout-container h4,
.layout-container h5,
.layout-container h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.layout-container h3.section-header {
  text-transform: uppercase;
}
.layout-container a:link,
.layout-container a:visited {
  color: inherit;
  text-decoration: none;
}
.layout-container button:hover {
  cursor: pointer;
}
.layout-container p {
  margin: 0 0 10px 0;
}
.layout-container small,
.layout-container small.small-text {
  font-size: 80%;
}
.layout-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.layout-container header {
  padding: 0 10px;
}
@media (min-width: 768px) {
  .layout-container header {
    padding: 0 24px;
  }
}
.layout-container header h1,
.layout-container header h2 {
  font-size: 1.5em;
  font-weight: 700;
}
@media (min-width: 768px) {
  .layout-container header h1,
  .layout-container header h2 {
    font-size: 2.2em;
  }
}
.layout-container header h1.page-title {
  font-size: 1.2em;
  font-weight: inherit;
}
