@require 'vars'

ul.menu
  margin 0

main
  .region-content
    nav.pager
      ul + ul, ul + p
        padding-top 0

nav.menu--main
  font-weight bold

.block-ak-theme-exhibition-years
  nav
    text-align center
    margin-top $spacing_layout--sm * -1

    > small
      padding-bottom $spacing_layout--xsm
      display inline-block

    button
      border none
      background-color transparent
      //padding $spacing_layout--xsm 0
      padding-bottom $spacing_layout--xsm

      &.button-state--clicked
        &:before
          color $color_grey
          display: inline
          content: 'x'

    ul
      padding 0 $spacing_layout--sm $spacing_layout--sm
      justify-content center
      transition max-height 100ms ease-in
      display flex
      flex-wrap wrap
      max-height auto
      opacity 1

      &.closed
        max-height 0
        opacity 0

      li
        padding 4px $spacing_layout--sm


/*!***/
/* * @file*/
/* * Visual styles for menu.*/
/* *!*/
/*ul.menu {*/
/*  margin-left: 1em; !* LTR *!*/
/*  padding: 0;*/
/*  list-style: none outside;*/
/*  text-align: left; !* LTR *!*/
/*}*/
/*[dir="rtl"] ul.menu {*/
/*  margin-right: 1em;*/
/*  margin-left: 0;*/
/*  text-align: right;*/
/*}*/
/*.menu-item--expanded {*/
/*  list-style-type: circle;*/
/*  list-style-image: url("../../images/icons/menu-expanded.png");*/
/*}*/
/*.menu-item--collapsed {*/
/*  list-style-type: disc;*/
/*  list-style-image: url("../../images/icons/menu-collapsed.png"); !* LTR *!*/
/*}*/
/*[dir="rtl"] .menu-item--collapsed {*/
/*  list-style-image: url("../../images/icons/menu-collapsed-rtl.png");*/
/*}*/
/*.menu-item {*/
/*  margin: 0;*/
/*  padding-top: 0.2em;*/
/*}*/
/*ul.menu a.is-active {*/
/*  color: #000;*/
/*}*/
