// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overridden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

@media screen and (min-width: 992px) {
  #block-ak-b5subtheme-main-navigation {
    //@extend .visually-hidden; <- doesn't work across mqs
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}

@media screen and (max-width: 992px) {
  #block-ak-b5subtheme-mainmenu-sidebar {
    //@extend .visually-hidden; <- doesn't work across mqs
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}

.path-frontpage #block-ak-b5subtheme-page-title {
  @extend .visually-hidden;
}

.navbar-brand .site-title {
  display: block;
  width: 50%;
  font-size: 3em;
  line-height: 100%;
}