@require 'vars.styl'

$logo_width = 200px

header
  @media (min-width: $large-screen-breakpoint)
    display flex
    justify-content space-between

  .region-header

    #site-logo
      width $logo_width
      max-width $logo_width