@require 'vars'
.field--type-image .field__item
  > a
    display block
    line-height 0

  picture, img
    display block

.full-image-display-wrapper
  max-width $max_width
  //width $max_width
  //background-color $color_grey
  //border 1px solid  rgba(0, 0, 0, .7)

.full-image-display-wrapper--inner
  display flex

  > *
    margin auto

  > img
    //height 680px
    //width auto
    //object-fit contain

.node--type-artwork.node--view-mode-full .field--name-field-images
  @extend .full-image-display-wrapper

  > *
    @extend .full-image-display-wrapper--inner