@require 'vars'

ul.menu
  margin 0

main
  .region-content
    nav.pager
      ul + ul, ul + p
        padding-top 0

nav.menu--main
  // font-weight bold
  ul
    li + li
      &:before
        content '/'
        display inline
        padding-right $spacing_layout--xsm

.block-ak-theme-exhibition-years
  nav
    text-align center
    margin-top $spacing_layout--sm * -1

    > small
      padding-bottom $spacing_layout--xsm
      display inline-block

    button
      border none
      background-color transparent
      //padding $spacing_layout--xsm 0
      padding-bottom $spacing_layout--xsm

      &.button-state--clicked
        &:before
          color $color_grey
          display: inline
          content: 'x'

    ul
      padding 0 $spacing_layout--sm $spacing_layout--sm
      justify-content center
      transition max-height 100ms ease-in
      display flex
      flex-wrap wrap
      max-height auto
      opacity 1

      &.closed
        max-height 0
        opacity 0

      li
        padding 4px $spacing_layout--sm

