@require 'vars'
@require 'components/image'

.teaser-list.ul
  margin-top 20px

  li + li
    border-top 1px solid $color_grey
    margin-top 20px
    padding-top 25px

.the-content-list
  ul @extend .teaser-list.ul


article.node--view-mode-full
  .field__label
    color $color_grey
    font-weight lighter

  h1
    font-size 2em
    //line-height 1em
    padding-left 10px

    @media all and (min-width: 768px)
      padding-left 0


@media all and (min-width: 768px)
  article.node--view-mode-full
    margin-top 20px

    + h1
      margin-bottom 10px

  // Exhibition node

  //.view-exhibitions
  //  background-color pink
  //  .glide__arrows
  //    background red

.layout .layout__region--content .block
  .node--type-artist
  .node--type-artist
    &.node--view-mode-teaser
      img
        display flex

.node--type-events
.node--type-project
.node--type-news
  &.node--view-mode-teaser
    *
      text-align left
    img
      max-width 100%
      height auto
      width 100%
    .block-field-blocknodeeventsfield-featured-image
      padding 0
    &+.node--view-mode-teaser
      margin-top 20px
      border-top 1px solid $color_grey


