@require 'vars'

.layout-container
  *
    font-family: Arial, Helvetica, sans-serif;
    box-sizing border-box
    line-height 1.5em
    font-size 1em;

  img
    max-width: 100%;
    width: 100%;

  h1, h2, h3, h4, h5, h6
    margin 0
    padding 0

  h1, h2, h3, h4, h5, h6, nav li a
    letter-spacing 1px


  h2, h3, h4, h5, h6
    margin 0
    padding 0
    font-weight: 300;

  h3.section-header
    text-transform uppercase

  a
    &:link, &:visited
      color: inherit
      text-decoration none

  button
    &:hover
      cursor pointer

  p
    margin 0 0 $spacing_layout--sm 0

  small, small.small-text
    font-size 80%

  ul
    margin 0
    padding 0
    list-style none

  header
    padding 0 $spacing_layout--sm

    @media $up_tablet
      padding 0 $spacing_layout--lg

    h1, h2
      font-size: $font_size_headline_sm;
      font-weight 700

      @media $up_tablet
        font-size 2.2em

    h1.page-title
      font-size 1.2em
      font-weight inherit

  //aside
  //  font-size $font_size_small
  //
  //  nav a
  //    font-size $font_size_base
