@require 'vars'

.layout-container
  background yellow

  nav.menu--main
    padding-bottom: $spacing_layout--xsm;

    ul
      padding 0
      list-style none
      display: flex;
      justify-content: center;
      gap: $spacing_layout--sm;

      @media $up_tablet
        justify-content unset
        flex-direction column
        margin-bottom $spacing_layout--md

      li
        a, a:link, a:visited
          //color: $color_black;

  aside.layout-sidebar-first
    padding-bottom $spacing_layout--lg
    min-width 300px

    .region
      nav.pager, .block
        padding 0 $spacing_layout--md
        //background-color red

      .view-exhibitions-pager, .block-views-pager
        padding 0
        nav.pager
          @extend .base--pager-block
          p
            margin 0

  main
    .block-system-main-block
      margin-bottom $spacing_layout--md
      padding-bottom $spacing_layout--md
      border-bottom 1px solid

    @media $up_tablet
      display flex
      flex-direction row-reverse
      justify-content left

      aside.layout-sidebar-first
        width 33%

      .layout-content
        padding-right $spacing_layout--lg


  main .block-system-main-block
    .view-exhibitions
      .view-header
        text-align center
        magin-bottom: $spacing_layout--sm;

        h3
          display inline-block
          border-top 2px solid
          padding-top $spacing_layout--xsm
          margin-bottom $spacing_layout--sm

  main .layout-content
    background pink
    .node--type-exhibition.node--view-mode-full
      .layout__region--second
        overflow hidden