$mobile = '(max-width 767px)';
$tablet = '(min-width 768px) and (max-width: 1365px)';
$up_tablet = '(min-width 768px)';
$desktop ='(min-width: 1366px)';

$color_grey = grey;
$color_black = black;
$color_red = red;

$font_size_base = 1em
$font_size_small = $font_size_base * .8
$font_size_headline = $font_size_base * 2
$font_size_headline_sm = $font_size_base * 1.5
//$font_size_headline = 2em
//$font_size_headline_sm = 1.5em

$spacing_layout--xxsm = 4px
$spacing_layout--xsm = 6px
$spacing_layout--sm = 10px
$spacing_layout--md = 18px
$spacing_layout--lg = 24px

$divider-style = 1px solid rgba(#ddd, 90%);

.base--pager-block
  //border-top 1px solid
  border-bottom 1px solid
  margin-bottom $spacing_layout--lg
  text-align center

  ul, p
    padding-bottom $spacing_layout--md

  ul + ul, ul + p
    padding-top 0

//
//:root {
//  --spacing-sm: 4px;
//  --spacing-md: 8px;
//  --spacing-layout--sm: 10px;
//  --spacing-layout: 18px;
//  --spacing-layout--lg: 36px;
//
//  --font-size--headline: 2em;
//  --font-size--footer: 2em;
//  /*--font-size--headline: 3em;*/
//  /*--font-size--footer: 2em;*/
//
//  --breakpoint-large: 992px;
//
//  --letter-spacing--headline: 8px;
//}