@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Tw-Cen-MT-W01-Light.woff2") format('woff2');
  font-style: light;
  font-weight: 100;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century-Bold-Italic.woff2") format('woff2');
  font-style: italic;
  font-weight: 700;
}
.base--pager-block {
  border-bottom: 1px solid;
  margin-bottom: 24px;
  text-align: center;
}
.base--pager-block ul,
.base--pager-block p {
  padding-bottom: 18px;
}
.base--pager-block ul + ul,
.base--pager-block ul + p {
  padding-top: 0;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
@media (max-width: 768px) {
  #menuToggle {
    display: block;
    position: absolute;
    z-index: 9;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle  a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  #menuToggle  a:hover {
    color: #ff6347;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menuToggle input:checked ~ ul {
    transform: none;
    max-height: 1000px;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .menu {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    padding: 0 10px;
    margin: 0;
    right: 100%;
    background: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
}
