footer {
  margin-top: 50px;
}
footer #block-zeigen-zeigennewsletter {
  background-color: #000;
}
footer #block-zeigen-zeigennewsletter .rmEmbed.rmLayout--horizontal.rmBase {
  margin: 0 auto;
  padding: 20px;
}
