.btn,
.node--type-project.node--view-mode-full .node__content .project-buttons ul li a,
.node--type-project.node--view-mode-full .node__content .project-programm--headline {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  text-transform: lowercase;
  font-size: 1.5em;
}
.node--type-project.node--view-mode-full .node__content {
  text-align: center;
}
.node--type-project.node--view-mode-full .node__content .field--name-field-headline {
  text-align: center;
  padding-bottom: 10px;
}
.node--type-project.node--view-mode-full .node__content .field--name-field-subheadline {
  padding-bottom: 10px;
}
.node--type-project.node--view-mode-full .node__content .project-buttons ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin: unset;
  padding: unset;
  padding-bottom: 10px;
}
.node--type-project.node--view-mode-full .node__content .project-buttons ul li a {
  width: 200px;
  display: block;
}
.node--type-project.node--view-mode-full .node__content .project-partners {
  margin: 0 auto;
}
.node--type-project.node--view-mode-full .node__content .project-programm--headline {
  margin-bottom: 20px;
}
