@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Tw-Cen-MT-W01-Light.woff2") format('woff2');
  font-style: light;
  font-weight: 100;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century-Bold-Italic.woff2") format('woff2');
  font-style: italic;
  font-weight: 700;
}
.base--pager-block {
  border-bottom: 1px solid;
  margin-bottom: 24px;
  text-align: center;
}
.base--pager-block ul,
.base--pager-block p {
  padding-bottom: 18px;
}
.base--pager-block ul + ul,
.base--pager-block ul + p {
  padding-top: 0;
}
.visually-hidden,
.slider.artwork-slider .glide__arrows button.glide__arrow > span:nth-child(2) {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
.field--type-image .field__item > a {
  display: block;
  line-height: 0;
}
.field--type-image .field__item picture,
.field--type-image .field__item img {
  display: block;
}
.full-image-display-wrapper,
.node--type-artwork.node--view-mode-full .field--name-field-images,
.slider.artwork-slider .glide__track {
  max-width: 1200px;
  width: 1200px;
  background-color: #aaa;
  border: 1px solid rgba(0,0,0,0.7);
}
.full-image-display-wrapper--inner,
.node--type-artwork.node--view-mode-full .field--name-field-images > *,
.slider.artwork-slider .glide__track ul.glide__slides li.glide__slide {
  display: flex;
}
.full-image-display-wrapper--inner height,
.node--type-artwork.node--view-mode-full .field--name-field-images > * height,
.slider.artwork-slider .glide__track ul.glide__slides li.glide__slide height,
.full-image-display-wrapper--inner > *,
.node--type-artwork.node--view-mode-full .field--name-field-images > * > *,
.slider.artwork-slider .glide__track ul.glide__slides li.glide__slide > * {
  margin: auto;
}
.full-image-display-wrapper--inner > img,
.node--type-artwork.node--view-mode-full .field--name-field-images > * > img,
.slider.artwork-slider .glide__track ul.glide__slides li.glide__slide > img {
  height: 680px;
  object-fit: contain;
}
.slider.artwork-slider .glide__arrows button.glide__arrow {
  border: none;
  box-shadow: none;
  padding: 0;
}
.slider.artwork-slider .glide__arrows button.glide__arrow > span:nth-child(1) {
  color: #000;
  display: block;
  font-size: 4em;
  font-weight: 100;
}
.slider.artwork-slider .glide__arrows button.glide__arrow--left {
  left: 0;
}
.slider.artwork-slider .glide__arrows button.glide__arrow--left > span:nth-child(1) {
  transform: rotate(270deg);
}
.slider.artwork-slider .glide__arrows button.glide__arrow--right {
  right: 0;
}
.slider.artwork-slider .glide__arrows button.glide__arrow--right > span:nth-child(1) {
  transform: rotate(90deg);
}
