@require 'vars'

.split-page-wrapper
  width 100% // For mobile (default)
  max-width $max-width-tablet // For tablet and larger screens

  @media (min-width: $mobile-breakpoint)
    max-width $max-width-mobile

  @media (min-width: $tablet-breakpoint)
    max-width $max-width-tablet

  @media (min-width: $large-screen-breakpoint)
    max-width $max-width-large-screen
    display flex

.split-page-wrapper--sidebar
  width 300px
  min-width 300px
  max-width 300px

.split-page-wrapper--content
  flex 1
  max-width: 100%;