.path-frontpage
  background-color blue
  border-radius 5px

.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);

  .foo {
    border: 1px solid black;
  }
}
