@require 'vars'
@require 'layouts/split-page'

.layout-container
  margin: 50px 0 75px 50px;
  max-width $max_width

  header
    margin-bottom 50px

  .region-primary-menu
    display flex
    align-items center

  main
    @extend .split-page-wrapper

    .layout-content
      @extend .split-page-wrapper--content

    > aside
      @extend .split-page-wrapper--sidebar
