$font_20th = twentieth-century

@font-face
  font-family: $font_20th;
  src: url(../fonts/Tw-Cen-MT-W01-Light.woff2) format('woff2');
  font-style: light;
  font-weight: 100;

@font-face
  font-family: $font_20th;
  src: url(../fonts/Twentieth-Century.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;

@font-face
  font-family: $font_20th;
  src: url(../fonts/Twentieth-Century.woff2) format('woff2');
  font-style: normal;
  font-weight: 600;

@font-face
  font-family: $font_20th;
  src: url(../fonts/Twentieth-Century.woff2) format('woff2');
  font-style: italic;
  font-weight: 400;

@font-face
  font-family: $font_20th;
  src: url(../fonts/Twentieth-Century-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: 700;

@font-face
  font-family: $font_20th;
  src: url(../fonts/Twentieth-Century-Bold-Italic.woff2) format('woff2');
  font-style: italic;
  font-weight: 700;

$max_width = 1280px

$sidebar_width = 300px
$content_width = 980px
$content_height = 680px

//$mobile = '(max-width 767px)';
//$tablet = '(min-width 768px) and (max-width: 1365px)';
//$up_tablet = '(min-width 768px)';
//$desktop ='(min-width: 1366px)';
//

$mobile-breakpoint = 480px
$tablet-breakpoint = 768px
$large-screen-breakpoint = $max_width

$max-width-mobile = 100%
$max-width-tablet = 768px
$max-width-large-screen = $max_width

$color_grey = #aaa;
$color_black = black;
$color_red = red;

$font_size_base = 1em
$font_size_small = $font_size_base * .8
$font_size_headline = $font_size_base * 2
$font_size_headline_sm = $font_size_base * 1.5
//$font_size_headline = 2em
//$font_size_headline_sm = 1.5em

$spacing_layout--xxsm = 4px
$spacing_layout--xsm = 6px
$spacing_layout--sm = 10px
$spacing_layout--md = 18px
$spacing_layout--lg = 24px

$border_cards = 1px solid rgba(black, 75%)

$divider-style = 1px solid rgba(#ddd, 90%);

.base--pager-block
  //border-top 1px solid
  border-bottom 1px solid
  margin-bottom $spacing_layout--lg
  text-align center

  ul, p
    padding-bottom $spacing_layout--md

  ul + ul, ul + p
    padding-top 0

.visually-hidden
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
