.view-exhibitions-pager {
}

.view-exhibitions-pager .entity-pager ul {
  margin-bottom: 0;
}

.view-exhibitions-pager .entity-pager ul + p {
  text-align: center;
  margin-top: 0;
}

.view-exhibitions nav.pager {
  border-top: 1px solid black;
  padding: var(--spacing-layout) 0;
  text-align: center;
}

.view-exhibitions nav.pager ul {
  padding: 0;
}

.block-ak-theme-exhibition-years {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid black;
}

.block-ak-theme-exhibition-years nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  gap: var(--spacing-layout--sm);
  justify-content: center;
  padding: var(--spacing-layout) 0;
}

.block-ak-theme-exhibition-years nav ul a {
  text-decoration: none;
}

.block-ak-theme-exhibition-years nav ul a:hover {
  text-decoration: underline;
}

.block-ak-theme-exhibition-years nav ul li .current {
  font-weight: bold;
}