header {
  background-color: black;
}

header .region-header h1, header .region-header h2 {
  padding: var(--spacing-layout);
  color: white;
  font-size: 1.5em;
  letter-spacing: 5px;
  background-color: black;
}

@media only screen and (min-width: 992px) {
  header .region-header h1, header .region-header h2 {
    padding: var(--spacing-layout) 0;
  }
}

header .region-header h1 a, header h2 a {
  line-height: 0;
}

header .region-header > *:nth-child(1) {
  position: sticky;
  padding-bottom: 0;
  /*padding-top: var(--spacing-layout--sm);*/
  /*padding-bottom: var(--spacing-layout--sm);*/
  top: 0;
  left: 0;
}

header .region-header h1 + h2, header .region-header h2 + h1 {
  font-size: 1.3em;
  padding-bottom: var(--spacing-layout);
  line-height: 1.3em;
  letter-spacing: var(--letter-spacing--headline);
}
