ul, ul.menu {
  margin: 0;
}

nav.menu--main {
  padding: var(--spacing-layout--sm) var(--spacing-layout);
  background-color: black;
  color: white;
}

nav.menu--main ul {
  display: flex;
  justify-content: space-between;
}

nav.menu--main ul li.menu-item {
  padding-top: 0;
  letter-spacing: 3px;
}

nav.menu--main ul li.menu-item a {
  line-height: 0;
}

nav.menu--main ul li.menu-item a.is-active {
  color: white;
  border-bottom: 1px solid white;
}

nav.menu--main ul li.menu-item a:hover {
  text-decoration: underline;
}

nav.menu--main ul li + li {
  padding-left: var(--spacing-layout);
}

.region-secondary-menu ul {
  margin: 0;
  border-bottom: 1px solid grey;
  max-width: 500px;
}

.region-secondary-menu ul li a,
.region-secondary-menu ul li a:link,
.region-secondary-menu ul li a:visited {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background-color: grey;
  transition: all 50ms;
}

.region-secondary-menu ul li a:hover {
  background-color: rgba(0,0,255,0.3);
  color: black;
}
