{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<ul{{ attributes.addClass('cards').addClass(classes) }}>
  {% for row in rows %}
    <li{{ row.attributes.addClass('card') }}>
      {{ row.content }}
    </li>
  {% endfor %}
</ul>