@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Tw-Cen-MT-W01-Light.woff2") format('woff2');
  font-style: light;
  font-weight: 100;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century-Bold-Italic.woff2") format('woff2');
  font-style: italic;
  font-weight: 700;
}
.base--pager-block {
  border-bottom: 1px solid;
  margin-bottom: 24px;
  text-align: center;
}
.base--pager-block ul,
.base--pager-block p {
  padding-bottom: 18px;
}
.base--pager-block ul + ul,
.base--pager-block ul + p {
  padding-top: 0;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
.view-artists .view-content ul.artists {
  gap: 10px;
  padding: 5px;
}
.view-artists .view-content ul.artists > li {
  width: calc(50% - 5px);
}
.view-artists .view-content ul.artists > li .node--type-artist.node--view-mode-teaser .image-style-teaser {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .view-artists .view-content ul.artists {
    gap: 21px;
    padding: 5px 21px 21px 21px;
  }
  .view-artists .view-content ul.artists > li {
    width: calc(33% - 14px);
  }
  .view-artists .view-content ul.artists > li .node--type-artist.node--view-mode-teaser:hover {
    background-color: #000;
    color: #fff;
  }
}
