.base--pager-block {
  border-bottom: 1px solid;
  margin-bottom: 24px;
  text-align: center;
}
.base--pager-block ul,
.base--pager-block p {
  padding-bottom: 18px;
}
.base--pager-block ul + ul,
.base--pager-block ul + p {
  padding-top: 0;
}
.visually-hidden,
.node.node--type-artist.node--view-mode-full > .node__content > .field--name-field-artist-artworks .field__label {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
.node.node--type-artist.node--view-mode-full > .node__content > .field + .field {
  margin-top: 20px;
}
.node.node--type-artist.node--view-mode-full > .node__content > .field:not(.field--name-field-artist-artworks) {
  width: 60%;
}
