@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Tw-Cen-MT-W01-Light.woff2") format('woff2');
  font-style: light;
  font-weight: 100;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century.woff2") format('woff2');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: twentieth-century;
  src: url("../fonts/Twentieth-Century-Bold-Italic.woff2") format('woff2');
  font-style: italic;
  font-weight: 700;
}
.base--pager-block {
  border-bottom: 1px solid;
  margin-bottom: 24px;
  text-align: center;
}
.base--pager-block ul,
.base--pager-block p {
  padding-bottom: 18px;
}
.base--pager-block ul + ul,
.base--pager-block ul + p {
  padding-top: 0;
}
.visually-hidden,
.node.node--type-artist.node--view-mode-full > .node__content > .field--name-field-artist-artworks .field__label {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
.split-page-wrapper,
.view-exhibitions .node--type-exhibition.node--view-mode-teaser .node__content--wrapper {
  width: 100%;
  max-width: 768px;
}
@media (min-width: 480px) {
  .split-page-wrapper,
  .view-exhibitions .node--type-exhibition.node--view-mode-teaser .node__content--wrapper {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .split-page-wrapper,
  .view-exhibitions .node--type-exhibition.node--view-mode-teaser .node__content--wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .split-page-wrapper,
  .view-exhibitions .node--type-exhibition.node--view-mode-teaser .node__content--wrapper {
    max-width: 1200px;
    display: flex;
  }
}
.split-page-wrapper--sidebar,
.view-exhibitions .node--type-exhibition.node--view-mode-teaser .node__content--wrapper .node--type-exhibition.node--view-mode-sidebar {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
.split-page-wrapper--content,
.view-exhibitions .node--type-exhibition.node--view-mode-teaser .node__content--wrapper .field--name-field-image {
  flex: 1;
  max-width: 100%;
}
.field--type-image .field__item > a {
  display: block;
  line-height: 0;
}
.field--type-image .field__item picture,
.field--type-image .field__item img {
  display: block;
}
.full-image-display-wrapper,
.node--type-artwork.node--view-mode-full .field--name-field-images,
.node.node--type-artwork.node--view-mode-full .field--name-field-images--glider .image-container--background,
.view-exhibitions .node--type-exhibition.node--view-mode-teaser .node__content--wrapper .field--name-field-image {
  max-width: 1200px;
  background-color: #aaa;
  border: 1px solid rgba(0,0,0,0.7);
}
.full-image-display-wrapper--inner,
.node--type-artwork.node--view-mode-full .field--name-field-images > *,
.node.node--type-artwork.node--view-mode-full .field--name-field-images--glider .image-container--background li {
  display: flex;
}
.full-image-display-wrapper--inner height,
.node--type-artwork.node--view-mode-full .field--name-field-images > * height,
.node.node--type-artwork.node--view-mode-full .field--name-field-images--glider .image-container--background li height,
.full-image-display-wrapper--inner > *,
.node--type-artwork.node--view-mode-full .field--name-field-images > * > *,
.node.node--type-artwork.node--view-mode-full .field--name-field-images--glider .image-container--background li > * {
  margin: auto;
}
.full-image-display-wrapper--inner > img,
.node--type-artwork.node--view-mode-full .field--name-field-images > * > img,
.node.node--type-artwork.node--view-mode-full .field--name-field-images--glider .image-container--background li > img {
  height: 680px;
  object-fit: contain;
}
.node.node--type-artist.node--view-mode-full > .node__content > .field + .field {
  margin-top: 20px;
}
.node.node--type-artist.node--view-mode-full > .node__content > .field:not(.field--name-field-artist-artworks) {
  width: 60%;
}
.node.node--type-artwork.node--view-mode-full .field--name-field-images--glider .image-container--background {
  width: 900px;
}
.node.node--type-artwork.node--view-mode-full .field--name-field-images--glider .image-container--background li {
  width: 900px;
}
.node.node--view-mode-sidebar h4 {
  font-weight: normal;
}
.view-exhibitions .node--type-exhibition.node--view-mode-teaser .node__content--wrapper .field--name-field-image {
  width: 900px;
}
.view-exhibitions .node--type-exhibition.node--view-mode-teaser .node__content--wrapper .field--name-field-image img {
  width: 900px;
  height: 680px;
  object-fit: contain;
}
.view-exhibitions .glide__bullets {
  margin-left: 150px;
}
.view-exhibitions button.glide__arrow--left {
  left: 300px !important;
}
